<div id="<%= dom_id musicaltechniquescore %>">
  <p>
    <strong>Thismomentvalue:</strong>
    <%= musicaltechniquescore.thismomentvalue %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= musicaltechniquescore.score_id %>
  </p>

  <p>
    <strong>Musicaltechnique:</strong>
    <%= musicaltechniquescore.musicaltechnique_id %>
  </p>

  <p>
    <strong>Myvalue:</strong>
    <%= musicaltechniquescore.myvalue %>
  </p>

  <p>
    <strong>Mypercent:</strong>
    <%= musicaltechniquescore.mypercent %>
  </p>

</div>
