<div id="<%= dom_id score %>">
  <p>
    <strong>Title:</strong>
    <%= score.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= score.content %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= score.key %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= score.time %>
  </p>

</div>
