<div id="<%= dom_id musicaltechnique %>">
  <p>
    <strong>Name:</strong>
    <%= musicaltechnique.name %>
  </p>

  <p>
    <strong>Musicalinstrument:</strong>
    <%= musicaltechnique.musicalinstrument_id %>
  </p>

  <p>
    <strong>Myattribute:</strong>
    <%= musicaltechnique.myattribute %>
  </p>

  <p>
    <strong>Maxvalue:</strong>
    <%= musicaltechnique.maxvalue %>
  </p>

  <p>
    <strong>Minvalue:</strong>
    <%= musicaltechnique.minvalue %>
  </p>

</div>
